.blog-hero {
    width: 80%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
}

header {
    display: block;
}

.blog-hero-head {
    text-align: center;
    margin-bottom: 1.5rem;
}

.blog-hero-subheading {
    max-width: 25.875rem;
    margin: auto;
}

.text-center {
    text-align: center;
}

.blog-hero-heading {
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 1rem;
}

.blog-hero-categories {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: auto;
    margin: 2rem 0;
    gap: 20px;

}

.blog-hero-categories li {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: -1 0.75rem;
}

.featured-post {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 5.625rem;
    /* border: 1px solid red; */
    display: flex;

}

.featured-post .img-div {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

.featured-post .text-div {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 32px 30px 80px;
}

.post-card__content {
    padding: 2rem 1.875rem 5rem;
}

.post-card-title a {
    text-align: left;
}

.posted-on{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.posted-on__content{
    display: flex;
    align-items: center;
}

.posted-on__avatar img {
   
    border-radius: 50%;
}

.posted-on__date-author {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.28;
}
.posted-on__date, .posted-on__name {
    display: block;
}

.post-card-title {
    font-size: 1.25rem;
    line-height: 1.27;
    color: #333c43;
    margin-bottom: 0.625rem;
}

a {
    color: inherit;
}

.post-card {
    padding: 0.875rem 0;
}

.img {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

.posted-on__avatar {
    margin-right: 0.75rem;
}

.blog-landing-posts {
    width: 80%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    gap: 20px;
}

.newsletter-subscribe {
    width: 80%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    /* display: flex; */
    /* gap: 20px; */
}

.blog-landing-posts>div {
    width: 40%;
    height: auto;
    margin: auto;
    /* border: 1px solid blue; */
}

.row-start-trial {
    width: 100%;
    height: 300px;
    /* border: 1px solid yellow; */
    margin: auto;
    /* padding: 3.125rem 3.125rem 1.25rem; */
    display: flex;
}

.row-start-trial>div {
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
    margin: auto;
}

.row-start-trial .text-div {
    width: 80%;
}

.start-trial {
    width: 80%;
    height: auto;
    background: linear-gradient(65deg, #f8f8f8 5.91%, #ebebeb 135.05%);
    padding: 1.5rem 1rem;
    margin: auto;
    margin-bottom: 2.5rem;
}

.guest-blogging {
    width: 80%;
    height: auto;
    background: url('https://desktime.com/blog/wp-content/uploads/2022/01/guest-blog-1024x206-1.jpg');
    padding: 1.5rem 1rem;
    margin: auto;
    margin-bottom: 2.5rem;
}